/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background: var(--background-color);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  height: 100%;
  width: 100%;
}

.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}